h1 {
	font: 24px/2 600 Arial, Verdana, sans-serif;
	color: #575748;
	text-align: center;
	background-color: #a8a8b7;
	background-image: linear-gradient(180deg, #a8a8b7, #424251);
	text-shadow: 0 0 10px #fff;
}