body {
	margin: 0;
}

.wrapper {
	background-color: #20202f;
}

h1 {
	font: 600 24px/2 Arial, Verdana, sans-serif;
	text-align: center;
	background-color: #a8a8b7;
	text-shadow: 0 0 10px #fff;
	margin: 0;
}