body {
	margin: 0;
}

.wrapper {
	background-color: #20202f;
}

.container {
	background-color: #dbdbea;
	width: 80%;
	margin: auto;
}

main {
	padding: 10px;
}

footer {
	background-color: #73dcff;
	padding: 10px;
}

h1 {
	font: 600 24px/2 Arial, Verdana, sans-serif;
	text-align: center;
	background-color: #a8a8b7;
	text-shadow: 0 0 10px #fff;
	margin: 0;
}

p {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 13px;
}